<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Gym Tracker</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="templates">
                <span class="bi bi-grid-fill-nav-menu" aria-hidden="true"></span> Templates
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="workouts">
                <span class="bi bi-activity-nav-menu" aria-hidden="true"></span> Logged Workouts
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="progress">
                <span class="bi bi-graph-up-nav-menu" aria-hidden="true"></span> Progress
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool _collapseNavMenu = true;

    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
}
